<app-header></app-header>

<ion-content class="ion-padding">
    <ion-button (click)="presentAlert()" expand="block" >
        Present Alert
    </ion-button>

    <ion-button (click)="presentAlertMultipleButtons()" expand="block" >
        Present Alert Multiple Buttons
    </ion-button>

    <ion-button (click)="presentAlertPrompt()" expand="block" >
        Present Alert Prompt
    </ion-button>

    <ion-button (click)="presentAlertRadio()" expand="block" >
        Present Alert Radio
    </ion-button>

    <ion-button (click)="presentAlertCheckbox()" expand="block" >
        Present Alert Checkbox
    </ion-button>

    

</ion-content>
