<app-header titulo="Date Time"></app-header>

<ion-content class="ion-padding">

      <ion-list>

   

        <ion-list-header>
          <ion-label>Datos de nacimiento</ion-label>
        </ion-list-header>

         <ion-item id="open-date-input-1">
          <ion-label>Fecha de nacimiento</ion-label>
              <ion-icon icon="calendar"></ion-icon>
          <ion-popover trigger="open-date-input-1" show-backdrop="false">
            <ng-template>
              <ion-datetime [value]="fechaNaci.toISOString()" display-format="DD MMM YYYY" min="2015-01-01" max="2025-01-01"></ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>

      


        <ion-list-header>
          <ion-label>Restriciones</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Min y Max</ion-label>
          <ion-button fill="clear" id="open-date-input-2">
            <ion-icon icon="calendar"></ion-icon>
          </ion-button>
          <ion-popover trigger="open-date-input-2" show-backdrop="false">
            <ng-template>
              <ion-datetime [value]="fechaNaci.toISOString()" display-format="DD MMM YYYY" min="2015-01-01" max="2025-01-01"></ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>


        

        <ion-item>
          <ion-datetime [pickerOptions]="customPickerOptions"></ion-datetime>
        </ion-item>

        

        
            
       

          
      </ion-list>
      

</ion-content>
